*{
    margin: 0;
    padding: 0;
}
body, html, .master-container{
    height: 100%;
    width: 100%;
}
.master-container{
    display: flex;
    flex-direction: column;
}
ul{
    list-style: none;
    padding: 16px;
}
li{
    display: inline;
    padding: 16px;
}
li:hover{
    background-color: red;
}
li a{
    text-decoration: none;
    color: white;
}
.navigation-menu{
    background-color: black;
}

.article-header{
    background-color: #C6bfbf;
    padding: 30px;
}
.article-content{
    padding: 30px;
    display: flex;
    flex: 2;
    gap: 10%;
}
.content{
    flex: 1;
}
.footer-menu{
    background-color: #0b4d14;
    display: flex;
    justify-content: space-between;
}

.footer-content{

}