*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.navigation-container, .footer-container{
    display: flex;
    background-color: #000;
}
.navigation-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5%;
}
.navigation-bar, .footer-bar, .footer-second-bar{
    flex: 1;
}
.footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
}
.footer-bar{
    align-items: flex-start;
    background-color:  #0b4d14;
}

.footer-second-bar{
    align-items:flex-end;
    background-color:  #0b4d14;
}

ul{
    position: relative;
    margin-left: 10%;
    list-style: none;
    padding: 10px;
}
li{
    display: inline;
}
li a{
    color: white;
    text-decoration: none;
    margin: 2%;
}

.promotion{
    position: absolute;
    top: 5%;
    text-align: center;
    background-color: #c6bfbf;
    height: 20%;
}

.content-container{
    margin: 20px;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 70%;
    display: flex;
    gap: 5%;
}

.content{
    flex: 1;
}